* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.docx binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary

.githooks/pre-commit text eol=lf
.githooks/commit-msg text eol=lf
